:root {
	--bg: #f5f5f5;
	--sidebar-bg: #ffffff;
	--text: #333;
	--card-bg: #ffffff;
	--border: #e0e0e0;
	--primary: #4a6fa5;
	--black: #111;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: var(--bg);
	color: var(--text);
}

.layout {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 240px;
	background: #ffffff;
	border-right: 1px solid #ddd;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar h2 {
	margin-top: 0;
	font-size: 22px;
	color: #111;
	margin-bottom: 20px;
}

.sidebar nav a {
	display: block;
	padding: 10px 0;
	color: #444;
	text-decoration: none;
	font-size: 16px;
	transition: 0.2s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
	color: #000;
	font-weight: bold;
}

.content {
	flex: 1;
	padding: 20px;
}

header h1 {
	margin: 0;
	margin-bottom: 20px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.card {
	background: var(--card-bg);
	padding: 20px;
	border-radius: 10px;
	border: 1px solid var(--border);
	text-align: center;
}

.card h3 {
	margin: 0 0 10px 0;
	font-size: 18px;
}

.card p {
	font-size: 35px;
	font-weight: bold;
	color: var(--primary);
}

/* ===== Tabela ===== */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background: white;
	border-radius: 8px;
	overflow: hidden;
}

table thead {
	background: #eaeaea;
}

table th,
table td {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

table tr:hover {
	background: #f2f2f2;
}