h3 {
	text-align: center;
	margin-bottom: 10px;
}
.funcionalidades {
	width: 1100px;
	background-color: #f5f1e0;
	border-radius: 15px;

	margin: 0 auto;
	padding: 10px;
}

.funcionalidades h2 {
	font-size: 17px;
	margin-bottom: 15px;
}

.funcionalidades-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

span div {
	display: flex;
	flex-direction: column;
}
span p {
	margin-bottom: 10px;
	font-weight: 700;
}

span a {
	padding: 5px 15px;
	margin: 5px 0;
	border-radius: 10px;
	opacity: 0.7;
	transition: 300ms;
}

span a:hover {
	opacity: 1;
	scale: 1.1;
}

span a.view {
	background-color: #2f89ff;
	color: white;
}
span a.new {
	background-color: #adff2f;
}
span a.delete {
	background-color: #ff2f52;
	color: white;
}
